out
Image
Image-dtb
kirin970-hikey970.dtb
.stamp_*
toolchain/gcc-linaro-7.1.1-2017.08-x86_64_aarch64-linux-gnu
toolchain/gcc-linaro-7.1.1-2017.08-x86_64_aarch64-linux-gnu.tar.xz
hikey970_android_8_images.zip
hikey970_android_8_images
